@model IEnumerable<DotNetCoreSqlDb.Models.Todo>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Todo List</h1>

    <div class="create-button">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AlphabeticalSort"]">@Html.DisplayNameFor(model => model.Description)</a>
                </th>
                <th scope="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateAddedSort"]">@Html.DisplayNameFor(model => model.DateAdded)</a>
                </th>
                <th scope="col">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DueDateSort"]">@Html.DisplayNameFor(model => model.DueDate)</a>
                </th>
                <th scope="col">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td id="buttons" class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
