@model IEnumerable<DotNetCoreSqlDb.Models.Todo>

    @{
    ViewData["Title"] = "Index";
    }

    <div class="create-button">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>

    <table onload="state()" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <a id="description" asp-action="Index" asp-route-sortOrder="@ViewData["AlphabeticalSort"]">Description</a>
                </th>
                <th scope="col">
                    <a id="date-added" asp-action="Index" asp-route-sortOrder="@ViewData["DateAddedSort"]">Date Added ▼</a>
                </th>
                <th scope="col">
                    <a id="due-date" asp-action="Index" asp-route-sortOrder="@ViewData["DueDateSort"]">Due Date</a>
                </th>
                <th scope="col">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td id="buttons" class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
