@model IEnumerable<DotNetCoreSqlDb.Models.Todo>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Todo List</h1>

        <a asp-action="Create" class="btn btn-primary">Create New</a>

    <span id="inline-right" class="btn-group">
        <select class="custom-select">
            <option value="" selected disabled>Sort</option>
            <option value="">Alphabetical</option>
            <option value="">Date Added</option>
            <option value="">Due Date</option>
        </select>
    </span>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th scope="col">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
